<ion-view view-title="" class="esqueci-senha-titulo">
	<ion-nav-title  class="esqueci-senha-titulo">
		Solicitar Consultas
    </ion-nav-title>
    <ion-content class="esqueci-senha cadastroConsulta">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title titulo-icone">
            	<i class="fa fa-calendar" aria-hidden="true"></i>
            	<br />
            	<span class="texto-icone">Preencha os Campos Abaixo para Solicitar seu Agendamento.</span>
           	</strong>
        </div>
        <form name="cadastrarUsuario" id="formCadastroExame" class="formPadrao cadastroUsuario im-wrapper cadastroConsulta">
			<div class="list">
				<label class="item item-input cadastroPadrao item-select">
				    <div class="input-label corpadrao">
				    	Área da Consulta:
				    </div>
				    <select style=" width: 45%;" name="sexo" ng-model="agendamentoData.area_id">
				      <option ng-repeat="area in listaAreas" value="{{area.id}}">{{area.descricao}}</option>
				    </select>
				</label>
				<label class="item item-input cadastroPadrao  item-stacked-label"> 
					<span class="input-label">Data da Consulta:</span>
                    <input type="date" ng-change="formatDate()" data-date-format="DD/MM/YYYY" ng-model="agendamentoData.data_solicitada_form"  />
                    <input type="hidden" ng-model="agendamentoData.data_solicitada" />
                    <i class="icon fa fa-calendar placeholder-icon" style="font-size: 24px"></i>
                </label>
<!-- 				<datepicker  -->
<!-- 				  date-format="d/MM/yyyy" -->
<!-- 				  date-set="{{dataHoje}}" -->
<!-- 			      date-min-limit="{{dataAtual}}" -->
<!-- 			      date-max-limit="{{dataLimite}}"> -->
<!-- 					<input ng-model="agendamentoData.data_solicitada" placeholder="Data Soliciata 99/99/9999"  -->
<!-- 						   name="data_solicitada" class="data" required type="text"  /> -->
<!-- 					<i class="icon fa fa-calendar placeholder-icon" style="font-size: 24px"></i>  -->
<!-- 				</datepicker> -->
				<span class="erro" ng-show="erros && !cadastrarUsuario.data_solicitada.$valid">Data Solicitada é obrigatória</span> 
				<label class="item item-input cadastroPadrao"> 
                    <i class="icon fa fa-file-text" style="font-size: 24px; margin-right: 8px;"></i> 
                    <textarea rows="5" cols="10" maxlength="144" class="descricao" name="descricao" placeholder="Descreva o motivo da sua solicitação" ng-model="agendamentoData.descricao" ></textarea>
                </label>
                <span class="erro" ng-show="erros && !cadastrarUsuario.descricao.$valid">Motivo é obrigatório</span> 
			</div>
			<button class="button button-full botaoPadrao" ng-click="validar()">Enviar Solicitação</button>
		</form>
    </ion-content>
</ion-view>
<style>
	.bar.bar-header{
	    box-shadow: none !important;
	}
	.bar.bar-stable{
		border: none !important;
	}
</style>