<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeConfirmar()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content class="confirmarCadastro">
  		<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title titulo-icone">
            	<i class="fa fa-check-circle-o" aria-hidden="true"></i>
            	<br />
            	<span class="texto-icone">Confira seus dados antes de enviar.</span>
           	</strong>
        </div>
        <form name="cadastrarUsuarioConfirmar" class="formPadrao cadastroUsuario im-wrapper ">
			<div class="list">
				<label class="item item-input cadastroPadrao "> 
					<i class="icon fa fa-user placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Informe seu CPF: 999.999.999-99" class="cpf" name="cpf" ng-model="loginData.cpf" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.cpf.$valid">CPF é Obrigatório</span> 
				
				<label class="item item-input cadastroPadrao "> 
				 	<i class="icon fa fa-envelope placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Informe seu e-mail: exemplo@email.com" name="email" ng-model="loginData.email" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.email.$valid">E-mail é Obrigatório</span>
				
				<label class="item item-input cadastroPadrao "> 
				 	<i class="icon fa fa-file-text placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Informe Nº PEP" name="pep" ng-model="loginData.pep" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.pep.$valid">PEP é Obrigatório</span>
				
				<label class="item item-input cadastroPadrao item-select">
				    <div class="input-label corpadrao">
				      Cancer
				    </div>
				    <select style="min-width: 75%;" name="sexo" ng-model="loginData.cancer_id">
				      <option ng-repeat="cancer in listaCancer" value="{{cancer.id}}">{{cancer.descricao}}</option>
				    </select>
				</label>
					
				<label class="item item-input cadastroPadrao "> 
					<i class="icon fa fa-id-card-o placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Informe seu nome" name="nome" ng-model="loginData.nome" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.nome.$valid">Nome é Obrigatório</span> 
				
				<label class="item item-input cadastroPadrao "> 
					<input type="text" placeholder="Data Nascimento: 99/99/9999" name="data_nascimento" class="data" ng-model="loginData.data_nascimento" required>
					<i class="icon fa fa-calendar placeholder-icon" style="font-size: 24px"></i> 
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.data_nascimento.$valid">Data de Nascimento é Obrigatório</span> 
				
				<label class="item item-input cadastroPadrao item-select">
				    <div class="input-label corpadrao">
				      Sexo
				    </div>
				    <select style="min-width: 75%;" name="sexo" ng-model="loginData.sexo">
				      <option value="1">Masculino</option>
				      <option value="2">Feminino</option>
				    </select>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.sexo.$valid">Sexo é Obrigatório</span> 	
				
				<label class="item item-input cadastroPadrao "> 
					<i class="icon fa fa-home placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Informe seu Endereço" name="endereco" ng-model="loginData.endereco" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.endereco.$valid">Endereço é Obrigatório</span> 
				
				<label class="item item-input cadastroPadrao "> 
					<input type="text" placeholder="Informe sua cidade" name="cidade" ng-model="loginData.cidade" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.cidade.$valid">Cidade é Obrigatória</span> 
				
				<label class="item item-input cadastroPadrao item-select">
				    <div class="input-label corpadrao">
				      Estado
				    </div>
				    <select name="uf" style="min-width: 75%;"  ng-model="loginData.uf">
				      <option selected="selected">UF</option>
				      <option value="PE">PE</option>
				      <option value="BA">BA</option>
				    </select>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.uf.$valid">Sexo é Obrigatório</span> 
							
				<label class="item item-input cadastroPadrao "> 
				 	<i class="icon fa fa-phone-square placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Primeiro contato: (99) 9999-9999" class="ddd_tel" name="contato" ng-model="loginData.contato" required>
				</label>
				<span class="erro" ng-show="erros && !cadastrarUsuario.contato.$valid">Contato é Obrigatório</span>
				
				<label class="item item-input cadastroPadrao "> 
					<i class="icon fa fa-phone-square placeholder-icon" style="font-size: 24px"></i> 
					<input type="text" placeholder="Segundo contato: (99) 9999-9999" class="ddd_tel" name="contato1" ng-model="loginData.contato1">
				</label>
				
			</div>
			<div class="row">
				<div class="col col-100">
					<button class="button button-full botaoPadrao" ng-click="cadastrar()">Cadastrar</button>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<button class="button button-full button-light" ng-click="closeConfirmar()">Cancelar</button>
				</div>
			</div>
		</form>
    </ion-content>
</ion-modal-view>
<style>
	.bar.bar-header{
	    box-shadow: none !important;
	}
	.bar.bar-stable{
		border: none !important;
	}
</style>