<ion-modal-view>
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeConfirmar()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content class="confirmarCadastro">
  		<div class="bar bar-subheader bar-stable static text-center">
            <strong class="title titulo-icone">
            	<i class="fa fa-check-circle-o" aria-hidden="true"></i>
            	<br />
            	<span class="texto-icone">Confira seus dados antes de enviar.</span>
           	</strong>
        </div>
        <form name="cadastrarExamesConfirmar" id="cadastrarExamesConfirmar" class="formPadrao cadastroUsuario im-wrapper ">
			<div class="list">
				<label class="item item-input cadastroPadrao item-select">
					    <div class="input-label corpadrao">
					      Área do Exame:
					    </div>
					    <select style="min-width: 50%;" name="sexo" ng-model="exameData.area_id">
					      <option ng-repeat="area in listaAreas" value="{{area.id}}">{{area.descricao}}</option>
					    </select>
					</label>
					<label class="item item-input cadastroPadrao item-select">
					    <div class="input-label corpadrao">
					      Tipo de Exame:
					    </div>
					    <select style="min-width: 50%;" name="sexo" ng-model="exameData.tipo_exame_id">
					      <option ng-repeat="tipoExame in listaTipoExames" value="{{tipoExame.id}}">{{tipoExame.descricao}}</option>
					    </select>
					</label>
					
					<label class="item item-input cadastroPadrao "> 
						<input type="text" placeholder="Data Coleta Exame: 99/99/9999" name="data_exame" class="data" ng-blur="calcularPrazo()" ng-model="exameData.data_exame" required>
						<i class="icon fa fa-calendar placeholder-icon" style="font-size: 24px"></i> 
					</label>
					<span class="erro" ng-show="erros && !cadastrarUsuario.data_exame.$valid">Data Coleta Exame é Obrigatória</span> 
					
					<label class="item item-input cadastroPadrao "> 
						<input type="text" placeholder="Data de Entrega Resultado: 99/99/9999" name="data_previsao" class="data" ng-model="exameData.data_previsao" required>
						<i class="icon fa fa-calendar placeholder-icon" style="font-size: 24px"></i> 
					</label>
					<span class="erro" ng-show="erros && !cadastrarUsuario.data_previsao.$valid">Data de Entrega Resultado é Obrigatória</span> 
			</div>
			<div class="row">
				<div class="col col-100">
					<button class="button button-full botaoPadrao" ng-click="salvar()">Cadastrar</button>
				</div>
			</div>
			<div class="row">
				<div class="col col-100">
					<button class="button button-full button-light" ng-click="closeConfirmar()">Cancelar</button>
				</div>
			</div>
		</form>
    </ion-content>
</ion-modal-view>
<style>
	.bar.bar-header{
	    box-shadow: none !important;
	}
	.bar.bar-stable{
		border: none !important;
	}
</style>