<ion-modal-view>
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeConfirmar()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content class="confirmarCadastro">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title titulo-icone">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <br />
                <span class="texto-icone">Enviar Notificação</span>
            </strong>
        </div>
        <form name="formListarUsuarioCad" id="formcadastrarNotificacao" class="formPadrao formListarUsuario im-wrapper ">
            <div class="list">
                <label class="item item-input cadastroPadrao item-select" ng-show="notificacaoData.perfil_id != undefined">
                    <div class="input-label corpadrao">
                        Perfil
                    </div>
                    <select style="min-width: 75%;" name="sexo" disabled="disabled" ng-model="notificacaoData.perfil_id">
                        <option value="0">Todos os Perfis</option>
                        <option ng-repeat="perfil in listaPerfis" value="{{perfil.id}}">{{perfil.descricao}}</option>
                    </select>
                </label>
                <label class="item item-input cadastroPadrao item-select"  ng-show="notificacaoData.sexo != undefined">
                    <div class="input-label corpadrao">
                        Sexo
                    </div>
                    <select style="min-width: 75%;" name="sexo" disabled="disabled" ng-model="notificacaoData.sexo">
                        <option value="0">Ambos os Sexos</option>
                        <option value="1">Masculino</option>
                        <option value="2">Feminino</option>
                    </select>
                </label>

                <label class="item item-input cadastroPadrao item-select" ng-show="notificacaoData.cancer_id != undefined">
                    <div class="input-label corpadrao">
                        Câncer
                    </div>
                    <select style="min-width: 75%;" name="sexo" ng-model="notificacaoData.cancer_id" disabled="disabled" multiple="multiple">
                        <option value="0">Todos Cânceres</option>
                        <option ng-repeat="cancer in listaCancer" value="{{cancer.id}}">{{cancer.descricao}}</option>
                    </select>
                </label>

                <label class="item item-input cadastroPadrao item-select" ng-show="notificacaoData.idade != undefined">
                    <div class="input-label corpadrao">
                        Com Idade Acima de:
                    </div>
                    <select style="min-width: 2%;" name="sexo" ng-model="notificacaoData.idade" disabled="disabled" >
                        <option ng-repeat="idade in listaIdade" value="{{idade}}">{{idade}}</option>
                    </select>
                </label>
                <label class="item item-input cadastroPadrao" ng-show="notificacaoData.pep != undefined"> 
                    <i class="icon fa fa-user placeholder-icon" style="font-size: 24px"></i> 
                    <input type="text" placeholder="Informe nº PEP" readonly="readonly" class="pep" name="pep" ng-model="notificacaoData.pep" >
                </label>
                <label class="item item-input cadastroPadrao"> 
                    <i class="icon fa fa-user placeholder-icon" style="font-size: 24px"></i> 
                    <span style="color: white;">Total de Destinatários: {{notificacaoData.total}}</span>
                </label>
                <label class="item item-input cadastroPadrao"> 
                    <i class="icon fa fa-font" style="font-size: 24px; margin-right: 8px;"></i> 
                    <input type="text" placeholder="Título da Mensagem" maxlength="50" class="titulo " name="titulo" ng-model="notificacaoData.titulo" >
                </label>
                <label class="item item-input cadastroPadrao"> 
                    <i class="icon fa fa-file-text" style="font-size: 24px; margin-right: 8px;"></i> 
                    <textarea rows="5" cols="10" maxlength="485" class="corpo " placeholder="Texto com 500 caracteres" ng-model="notificacaoData.corpo" ></textarea>
                </label>
                <input type="hidden"  name="usuario_criacao_id" ng-model="notificacaoData.usuario_criacao_id" >
                <input type="hidden"  name="envio_paciente" ng-model="notificacaoData.envio_paciente" >
                <input type="hidden"  name="notificacao_criacao_id" ng-model="notificacaoData.notificacao_criacao_id" >
                <input type="hidden"  name="resposta_paciente" ng-model="notificacaoData.resposta_paciente" >
            </div>
            <div class="row">
                <div class="col col-100">
                    <button class="button button-full botaoPadrao" ng-click="enviarNotificacao()">Cadastrar</button>
                </div>
            </div>
            <div class="row">
                <div class="col col-100">
                    <button class="button button-full button-light" ng-click="closeConfirmarNotificacao()">Cancelar</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
<style>
    .bar.bar-header{
        box-shadow: none !important;
    }
    .bar.bar-stable{
        border: none !important;
    }
</style>