<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-social-twitter"></i>
        </button>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <img src="./img/logo.png?livereload=1541427738659" class="avatar motion spin fade" style="
			    width: 32%;
			    height: 77px;
			    background: white;
			    border-radius: 53px !important;">
            <div class="menu-bottom">
                Conexão Vida - IMIP
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
            	<ion-item nav-clear menu-close href="#/app/inicio" ng-show="loginData.perfil_id == 1 || loginData.perfil_id == 2">
                    Início
                </ion-item>
                <!-- Visão Paciente -->
                <ion-item nav-clear menu-close href="#/app/cadastrar-exames" ng-show="loginData.perfil_id == 1">
                    <img src="./img/imagens/icon_menu_cadastromexames.png" /> Cadastrar Exames
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/meus-exames" ng-show="loginData.perfil_id == 1">
                    <img src="./img/imagens/icon_menu_meusexames.png" /> Meus Exames
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/cadastrar-agendamento" ng-show="loginData.perfil_id == 1">
                    <img src="./img/imagens/icon_menu_consultas.png" /> Solicitar Consultas
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/minhas-notificacoes" ng-show="loginData.perfil_id == 1">
                    <img src="./img/imagens/icon_menu_minhasnotificacoes.png" /> Minhas Notificações
                </ion-item>
                <!-- FIM Visão Paciente -->
                
                <!-- Visão Médica -->
                <ion-item nav-clear menu-close href="#/app/acompanhar-exames" ng-show="loginData.perfil_id == 2">
                   <img src="./img/imagens/icon_menu_meusexames.png" /> Acompanhar Exame
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/gerenciar-usuario" ng-show="loginData.perfil_id == 2">
                   <img src="./img/imagens/icon_menu_gerenciar.png" /> Gerenciar Usuários
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/gerenciar-agendamento" ng-show="loginData.perfil_id == 2">
                    <img src="./img/imagens/icon_menu_consultas.png" /> Gerenciar Agendamentos
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/gerenciar-notificacoes" ng-show="loginData.perfil_id == 2">
                    <img src="./img/imagens/icon_menu_notificar.png" /> Notificar Pacientes
                </ion-item>
                <!-- FIM Visão Médica -->
                <ion-item nav-clear menu-close href="#/app/servicos-imip" ng-show="loginData.perfil_id == 1">
                   <i class="fa fa-ambulance" style="font-size: 20px;" aria-hidden="true"></i> 
                   Urgências
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/editar-usuario/{{loginData.id}}">
                   <img src="./img/imagens/icon_menu_perfil.png" /> Minha Conta
                </ion-item>
                <ion-item nav-clear menu-close ng-click="sair()">
                   <img src="./img/imagens/icon_menu_sair.png" /> Sair
                </ion-item>
                <ion-item nav-clear menu-close >
                   Versão: {{versaoApp}}
                </ion-item>
                <ion-item nav-clear menu-close ng-show="mostrarBanco == 1">
                   Banco: {{banco}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
