<ion-view view-title="" class="esqueci-senha-titulo meus-exames">
	<ion-nav-title  class="esqueci-senha-titulo">
		Meus Exames
    </ion-nav-title>
    <ion-content class="esqueci-senha">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title titulo-icone meus-exames">
            	<i class="fa fa-list-alt" aria-hidden="true"></i>
            	<br />
            	<a class="btAdicionar links" href="#/app/cadastrar-exames"><img src="./img/imagens/button_add.png" /></a>
           	</strong>
        </div>
		<div class="list">

			  <div class="item item-icon-left" ng-repeat="exame in listaExames">
			    <i ng-show="exame.situacao == 1" class="icon fa fa-check-circle-o" aria-hidden="true" style="color: #62aaa2"></i>
			    <i ng-show="exame.situacao == 0" class="icon fa fa-exclamation-triangle" aria-hidden="true" style="color: red"></i>
			    <ul>
			    	<li>
			    		<b>Área:</b> {{exame.area}}
			    	</li>
			    	<li>
			    		<b>Tipo de Exame:</b> {{exame.tipo_exame}}
			    	</li>
			    	<li>
			    		<b>Data do Exame:</b> {{exame.data_exame}}
			    	</li>
			    	<li>
			    		<b>Entrega do Resultado:</b> {{exame.data_previsao}}
			    	</li>
			    	<li ng-show="exame.situacao == 1">
			    		<b>Recebido:</b> {{exame.data_recebimento}}
			    	</li>
			    	<li>
			    		<b>Situação:</b> 
			    		<span ng-show="exame.situacao == 1">Entregue</span>
			    		<span ng-show="exame.situacao == 0">Pendente</span>
			    	</li>
			    	<li ng-show="exame.situacao == 0 && exame.mediaCalculada > 0">
			    		<b>Média Entrega:</b> {{exame.mediaCalculada}} Dias 
			    	</li>
			    	<li ng-show="exame.situacao == 0">
			    		<button class="button button-full botaoPadrao" ng-click="confirmarRecebimento(exame.id)" style="font-size: 11px;">
			    			Confirmar Recebimento
		    			</button>
			    	</li>
			    </ul>
			  </div>
		</div>
    </ion-content>
</ion-view>
<style>
	.bar.bar-header{
	    box-shadow: none !important;
	}
	.bar.bar-stable{
		border: none !important;
	}
</style>