<ion-view view-title="" class="esqueci-senha-titulo meus-exames">
	<ion-nav-title  class="esqueci-senha-titulo">
		Meus Exames
    </ion-nav-title>
    <ion-content class="esqueci-senha">
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title titulo-icone meus-exames">
            	<i class="fa fa-plus-square" aria-hidden="true"></i>
            	<br />
            	<a class="btAdicionar links" href="#/app/cadastrar-exames"><img src="./img/imagens/button_add.png" /></a>
           	</strong>
        </div>
		<div class="list">

			  <div class="item item-icon-left" href="#">
			    <i class="icon fa fa-check-circle-o" aria-hidden="true" style="color: #62aaa2"></i>
			    <ul>
			    	<li>
			    		<b>Área:</b> Oncologia
			    	</li>
			    	<li>
			    		<b>Tipo de Exame:</b> Hemograma
			    	</li>
			    	<li>
			    		<b>Data do Exame:</b> 02/02/2018
			    	</li>
			    	<li>
			    		<b>Previsão do Exame:</b> 02/02/2018
			    	</li>
			    	<li>
			    		<b>Recebido:</b> 02/02/2018
			    	</li>
			    	<li>
			    		<b>Situacao:</b> Entregue
			    	</li>
			    	
			    </ul>
			  </div>
			
			  <div class="item item-icon-left item-icon-right" href="#">
			    <i class="icon fa fa-exclamation-triangle" aria-hidden="true" style="color: red"></i>
			    <ul>
			    	<li>
			    		<b>Área:</b> Oncologia
			    	</li>
			    	<li>
			    		<b>Tipo de Exame:</b> Hemograma
			    	</li>
			    	<li>
			    		<b>Data do Exame:</b> 02/02/2018
			    	</li>
			    	<li>
			    		<b>Previsão:</b> 02/02/2018
			    	</li>
			    	<li>
			    		<b>Média Entrega:</b> 25 Dias
			    	</li>
			    	<li>
			    		<button class="button button-full botaoPadrao" ng-click="confirmarRecebimento(loginData.id)" style="font-size: 11px;">
			    			Confirmar Recebimento
		    			</button>
			    	</li>
			    </ul>
<!-- 			    <i ng-cliekc="" class="icon fa fa-check-square" aria-hidden="true" style="color: #62aaa2; font-size: 45px"></i> -->
			 </div>
		</div>
    </ion-content>
</ion-view>
<style>
	.bar.bar-header{
	    box-shadow: none !important;
	}
	.bar.bar-stable{
		border: none !important;
	}
</style>