<ion-view view-title="Urgências e Serviços">
	<ion-nav-title  class="esqueci-senha-titulo">
		Urgências e Serviços
    </ion-nav-title>
    <ion-content class="esqueci-senha cadastroConsulta">
        <div class="bar bar-subheader bar-stable static text-center">
        	<strong class="title titulo-icone">
	            <i class="fa fa-ambulance" aria-hidden="true"></i>
	           	<br />
	           	<span class="texto-icone">Urgências e Serviços.</span>
           	</strong>
        </div>
        <div class="im-wrapper" style="border-bottom: dotted 1px #62aaa2">
            <!-- Icon List -->
            <h5 class="border-top">
            	<i class="fa fa-info-circle" aria-hidden="true"></i> 
            	Este aplicativo não se destina ao atendimento de urgência.
           	</h5>
           	<h5 class="border-top">
            	<i class="fa fa-info-circle" aria-hidden="true"></i> 
            	Em caso de urgência, procure atendimento médico.
           	</h5>
        </div>
        <div class="im-wrapper"  style="border-bottom: dotted 1px #62aaa2">
            <!-- Icon List -->
            <h4 class="border-top"><i class="fa fa-info-circle" aria-hidden="true"></i> São urgências médicas as seguintes manifestações:</h4>
            <div class="list datalhe-notificacao">
                <a class="item item-icon-left ng-binding">
					- Náusea severa, ou mais de um episódio de vômito em 24 horas; 
                </a>
                <a class="item item-icon-left ng-binding">
                	- Dois ou mais episódios de diarréia em 24 horas;
                </a>
                <a class="item item-icon-left ng-binding">
					- Fraqueza severa de aparecimento abrupto;
                </a>
                <a class="item item-icon-left ng-binding">
					- Fraqueza nas pernas ou dificuldade para andar de aparecimento abrupto;
                </a>
                <a class="item item-icon-left ng-binding">
					- Convulsões;
                </a>
                <a class="item item-icon-left ng-binding">
					- Dor de aparecimento abrupto e descontrolada;
                </a>
                <a class="item item-icon-left ng-binding">
					- Febre acima de 37.8°C ou calafrios;
                </a>
                <a class="item item-icon-left ng-binding">
                	- Falta de ar de início súbito;
                </a>
                <a class="item item-icon-left ng-binding">
                	- Qualquer situação em que o paciente se sinta muito mal;
                </a>
            </div>
        </div>
        <div class="im-wrapper">
            <!-- Icon List -->
            <h4 class="border-top"><i class="fa fa-phone-square" aria-hidden="true"></i> TELEFONES DO LABORATÓRIO DE ONCOLOGIA ADULTO:</h4>
            <div class="list">
                <a href="tel:812122-4100" class="item item-icon-left">
					(81)2122-4100
                </a>
                <a href="tel:812122-4185" class="item item-icon-left">
					(81)2122-4185
                </a>
                <a href="tel:812122-4308" class="item item-icon-left">
					(81)2122-4308
                </a>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>